In [ ]:
import pandas as pd
import re
import openpyxl


# def process_country_file(filename, country):
#     df = pd.read_csv(filename)
#     df = df.drop(['SNOW', 'SNWD'], axis=1)
#     df['Country'] = country
#     df['Date'] = pd.to_datetime(df['Date'])
#     df = df[df['Date'].dt.year >= 2000]
#     df['YearMonth'] = df['Date'].dt.to_period('M').astype(str)
#     monthly_avg = df.groupby(['YearMonth', 'Country'], as_index=False).mean(numeric_only=True)
#     return monthly_avg

# brazil_monthly = process_country_file('Brazil.csv', 'Brazil')
# colombia_monthly = process_country_file('Columbia.csv', 'Colombia')
# venezuela_monthly = process_country_file('Venezuela.csv', 'Venezuela')


# all_monthly = pd.concat([brazil_monthly, colombia_monthly, venezuela_monthly], ignore_index=True)

# all_monthly.to_csv('merged_monthly_weather.csv', index=False)

# print(all_monthly.head())

  YearMonth Country       TAVG       TMAX       TMIN      PRCP
0   2000-01  Brazil  76.612903  87.153846  70.315789  0.181176
1   2000-02  Brazil  76.724138  88.750000  71.000000  0.319412
2   2000-03  Brazil  77.225806  86.846154  70.812500  0.042105
3   2000-04  Brazil  75.800000  85.416667  69.450000  0.256667
4   2000-05  Brazil  74.225806  82.666667  68.407407  0.172609

In [16]:
df = pd.read_csv("merged_monthly_weather.csv")

In [17]:
df

    YearMonth    Country       TAVG       TMAX       TMIN      PRCP
0     2000-01     Brazil  76.612903  87.153846  70.315789  0.181176
1     2000-02     Brazil  76.724138  88.750000  71.000000  0.319412
2     2000-03     Brazil  77.225806  86.846154  70.812500  0.042105
3     2000-04     Brazil  75.800000  85.416667  69.450000  0.256667
4     2000-05     Brazil  74.225806  82.666667  68.407407  0.172609
..        ...        ...        ...        ...        ...       ...
919   2025-04  Venezuela  80.148148        NaN        NaN       NaN
920   2025-05  Venezuela  79.000000        NaN        NaN       NaN
921   2025-06  Venezuela  74.966667        NaN        NaN       NaN
922   2025-07  Venezuela  79.193548        NaN        NaN       NaN
923   2025-08  Venezuela  79.956522        NaN        NaN       NaN

[924 rows x 6 columns]

In [ ]:
country_means = df.groupby('Country')[['TAVG', 'TMAX', 'TMIN', 'PRCP']].transform('mean')

for col in ['TAVG', 'TMAX', 'TMIN', 'PRCP']:
    df[col] = df[col].fillna(country_means[col])

print(df[['Country', 'TAVG', 'TMAX', 'TMIN', 'PRCP']].isna().sum())

Country    0
TAVG       0
TMAX       0
TMIN       0
PRCP       0
dtype: int64

In [22]:
df

    YearMonth    Country       TAVG       TMAX       TMIN      PRCP
0     2000-01     Brazil  76.612903  87.153846  70.315789  0.181176
1     2000-02     Brazil  76.724138  88.750000  71.000000  0.319412
2     2000-03     Brazil  77.225806  86.846154  70.812500  0.042105
3     2000-04     Brazil  75.800000  85.416667  69.450000  0.256667
4     2000-05     Brazil  74.225806  82.666667  68.407407  0.172609
..        ...        ...        ...        ...        ...       ...
919   2025-04  Venezuela  80.148148  88.125277  69.254126  0.133082
920   2025-05  Venezuela  79.000000  88.125277  69.254126  0.133082
921   2025-06  Venezuela  74.966667  88.125277  69.254126  0.133082
922   2025-07  Venezuela  79.193548  88.125277  69.254126  0.133082
923   2025-08  Venezuela  79.956522  88.125277  69.254126  0.133082

[924 rows x 6 columns]

In [23]:
df.to_csv('final_df.csv', index=False)

In [24]:
df1 = pd.read_csv('df.csv')

In [25]:
df1

,country_code,country_name,admin_level,metric,units,year,cases_value,migration_value
0,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2000,1.860588,-1761
1,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2001,1.210392,3453
2,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2002,1.166920,6018
3,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2003,1.193249,-16908
4,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2004,1.374936,-5390
...,...,...,...,...,...,...,...,...
127,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2017,0.385631,415618
128,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2018,0.433386,494364
129,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2019,0.284584,395803
130,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2020,0.255587,229437
131,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2021,0.265016,211978

In [ ]:
import pandas as pd

final_df = pd.read_csv('final_weather.csv')

final_df['YearMonth'] = pd.to_datetime(final_df['YearMonth'])
final_df['year'] = final_df['YearMonth'].dt.year

yearly_weather = final_df.groupby(['Country', 'year'])[['TAVG', 'TMAX', 'TMIN', 'PRCP']].mean().reset_index()

df1 = pd.read_csv('df.csv')  

merged_df = pd.merge(
    df1,
    yearly_weather,
    left_on=['country_name', 'year'],
    right_on=['Country', 'year'],
    how='left'
)

merged_df = merged_df.drop(columns=['Country'])

merged_df.to_csv('final_merged_dataset.csv', index=False)

print(merged_df.head())

  country_code country_name admin_level          metric               units  \
0          BRA       Brazil      admin0  Incidence Rate  Cases per Thousand
1          BRA       Brazil      admin0  Incidence Rate  Cases per Thousand
2          BRA       Brazil      admin0  Incidence Rate  Cases per Thousand
3          BRA       Brazil      admin0  Incidence Rate  Cases per Thousand
4          BRA       Brazil      admin0  Incidence Rate  Cases per Thousand

   year  cases_value  migration_value       TAVG       TMAX       TMIN  \
0  2000     1.860588            -1761  74.181170  83.675272  68.405885
1  2001     1.210392             3453  75.901324  85.040689  68.510897
2  2002     1.166920             6018  74.916932  84.172104  67.891660
3  2003     1.193249           -16908  77.410942  85.853303  68.741662
4  2004     1.374936            -5390  75.196770  84.469004  68.124991

       PRCP
0  0.206148
1  0.134183
2  0.204213
3  0.149141
4  0.149141

In [28]:
df_f = pd.read_csv("final_merged_dataset.csv")

In [29]:
df_f

,country_code,country_name,admin_level,metric,units,year,cases_value,migration_value,TAVG,TMAX,TMIN,PRCP
0,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2000,1.860588,-1761,74.181170,83.675272,68.405885,0.206148
1,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2001,1.210392,3453,75.901324,85.040689,68.510897,0.134183
2,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2002,1.166920,6018,74.916932,84.172104,67.891660,0.204213
3,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2003,1.193249,-16908,77.410942,85.853303,68.741662,0.149141
4,BRA,Brazil,admin0,Incidence Rate,Cases per Thousand,2004,1.374936,-5390,75.196770,84.469004,68.124991,0.149141
...,...,...,...,...,...,...,...,...,...,...,...,...
127,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2017,0.385631,415618,57.138134,68.883232,47.833900,0.118857
128,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2018,0.433386,494364,57.010817,67.977831,47.745013,0.067985
129,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2019,0.284584,395803,57.713678,69.040479,48.866760,0.103643
130,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2020,0.255587,229437,57.512548,69.341085,47.795969,0.147638
131,COL,Colombia,admin0,Mortality Rate,Deaths per 100 Thousand,2021,0.265016,211978,57.303477,68.425508,48.006812,0.135898